fastapi
uvicorn[standard]
chromadb
sentence-transformers
pypdf
python-docx
langchain-text-splitters
python-dotenv
numpy
requests
scikit-learn
pytest
python-multipart
SpeechRecognition
streamlit
pandas
openpyxl
altair
rapidfuzz